/* navigation */
.navbar{
    flex-direction: column;
}

.navbar ul li a{
    margin: 27px 4px;
    padding: 0px 6px;
}

.navbar ul li{
    font-size: 1.3rem;
}
/* home section  */
#home{
    height: 370px;
    padding: 19px 68px;
}

#home::before{
    height: 611px;
}

#home p{
    font-size: 16px;
}

.h-primary{
    font-size: 30px;
}

.btn{
    font-size: 1rem;
}
/* services section  */
#services{
    flex-direction: column;
}
/* #services .box {
   
} */



/* clients section  */

#clients{
    flex-wrap: wrap;

}

#clients img{
    height: 56px;
    width: 66px;
}
.client-item{
    margin: 0px 7px;
    padding: 0px;
}

#client-section::before{
    height: 61%;
}
/* contact us section  */