* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* we can scroll to the section  by typing on it  */


/* navigation bar  */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px ;
    margin: 3px 6px ;
}
.navbar ul {
    display: flex;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;



}



.navbar::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;

}

.navbar ul li {

    list-style: none;
    font-size: 1.7rem;


}

.navbar ul li a {
    display: block;
    margin: 32px 23px;
    padding: 5px 22px;
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}


/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 448px;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('bg1.jpg') no-repeat center center/cover;
    height: 76%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    /* font-family: 'Instrument Serif', serif; */
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin: 17px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
    /* border: 2px solid black ; */

}







/* services section */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 20px;
    background-color: #f2f2f2;

}

#services .box img {
    height: 163px;
    display: block;
    margin: auto;


}

#services-container{
    background-color: #e9e0e2;
}




/* utility classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Oswald', sans-serif;

}


.center {
    text-align: center;
}

.h-secondary {
    font-size: 2rem;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
}



/* clients section */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 187px;
    width: 187px;
}

.client-item {
    margin: -12px 43px;
    padding: 26px;

}

#client-section::before {
    content: "";
    position: absolute;


    background: url('bg.jpg') no-repeat center center/cover;

    height: 42%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}



/* contact section */


#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    background: url(contact.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box form {
    width: 40%;


}

#contact-box label {
    font-size: 1.7rem;
    font-family: 'Oswald', sans-serif;


}

.form {
    border: 2px solid black;
}

.form:hover {
    border: 2px solid white;
    border-radius: 5px;
}

#message {
    border: 2px solid black;
}

#message:hover {
    border: 2px solid white;
    border-radius: 5px;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}